.groupInfo {
  width: fit-content;
  margin: 0 auto;
  text-align: center;

  .infoItem {
    margin: 20px 0;
    text-align: center;
  }
}

.group {
  display: flex;
}

.tabs {
  background-color: #B5B5B5;
  width: 250px;
  border-radius: 20px;
  border: 1px solid #000000;

  .item {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    &:first-child {
      border-radius: 20px 20px 0 0;
    }

    &:last-child {
      border-radius: 0 0 20px 20px;
    }

    &:hover {
      background-color: #ffffff;
    }
  }
}

.active {
  background-color: #ffffff;
}
