.scheduleToolbar {
  margin: 0 0 20px 0;
}

.createDialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin: 0 20px 0 0;
  }

  .createDialogRow {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    width: 400px;

    .createDialogInputCell {
      width: 300px;
    }
  }

  textarea {
    resize: vertical;
  }
}