.user {
  display: flex;

  img {
    width: 300px;
  }

  label {
    font-size: 20px;
  }

  span {
    font-size: 20px;
    margin: 0 0 0 10px;
  }
}

.userInfo {
  padding: 10px 0 0 20px;

  div {
    padding: 10px 0;
  }
}

.nameContainer {
  margin: 0 0 20px 0;
}