.menu {
  display: flex;
  height: 100%;
  font-weight: bold;
  padding: 0 10px;

  .link {
    width: 70px;
    height: 100%;
    display: flex;
    transition: background-color 0.5s, color 0.5s;
    color: white;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: lightgray;
      cursor: pointer;
      color: black;
    }
  }
}
